.circles {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}

.position {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.img {
    width: 300px;
    height: 200px;
    margin: 50px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

.squares {
    width: 30px;
    height: 30px;
    margin: 20px;
    display: inline-block;
}

.button {
    width: 100px;
    height: 100px;
}